.content {
  &__podcast {
    display: flex;
    justify-content: space-between;

    &__media {
      width: 650px;
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 95px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 870px;

      &__text {
        display: flex;
        padding-right: 135px;
        padding-left: 60px;
        margin-bottom: 90px;
        margin-top: 100px;
        line-height: 88px;
        letter-spacing: 3.2px;

        &__title {
          color: white;
          font-size: 70px;
          width: 525px;
        }

        &__title2 {          
          color: white;
          font-size: 75px;
        }

        &__title3 {
          color: white;
          font-size: 80px;
          margin-left: 25px;
        }
      }

      &__subtitle {
        color: white;
        font-size: 15px;
        padding-left: 80px;
        margin-bottom: 20px;
      }

      &__list {
        display: flex;
        // justify-content: center;
        list-style: none;
        padding-left: 80px;
      }

      &__item {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
