.header {
  background-color: $blackBg;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &__logo {
    position: relative;
    left: -10px;

    &__link {
      color: white;
    }

    &__img {
      width: 160px;
      height: 35px;
    }
  }

  &__menu {
    padding-block: 45px;
    padding-right: 70px;

    &__list {
      display: flex;
      list-style: none;
    }

    &__item {
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }

      &__link {
        text-decoration: none;
        color: white;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
