.button {
  background: $blue;
  border-radius: 6px;
  cursor: pointer;
  width: 178px;
  height: 51px;
  background: $blue;
  border-radius: 6px;
  font-size: 17px;
  color: white;

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}