.footer
  .footer__logo
    .footer__logo__main
      a.footer__logo__link(href='/')
        img.footer__logo__img(src='/public/images/header_logo.svg' alt='header_logo')

    ul.footer__logo__list
      li.footer__logo__item
        a.footer__logo__link(href='http://instagram.com')
          img.footer__logo__img(src='/public/images/footer_logo_inst.svg' alt='footer_social_logo')
      li.footer__logo__item
        a.footer__logo__link(href='http://twitter.com')
          img.footer__logo__img(src='/public/images/footer_logo_twitter.svg' alt='footer_social_logo')
      li.footer__logo__item
        a.footer__logo__link(href='http://facebook.com')
          img.footer__logo__img(src='/public/images/footer_logo_facebook.svg' alt='footer_social_logo')

  .footer__menu
    ul.footer__menu__list
      li.footer__menu__item
        a.footer__menu__link(href="/") Home
      li.footer__menu__item
        a.footer__menu__link(href="./about.pug") About
      li.footer__menu__item
        a.footer__menu__link(href="./episodes.pug") Episodes
      li.footer__menu__item
        a.footer__menu__link(href="./contacts.pug") Contacts

  .footer__menu2
    ul.footer__menu2__list
      li.footer__menu2__item
        a.footer__menu2__link(href="/") Style Guide
      li.footer__menu2__item
        a.footer__menu2__link(href="/") Instructions
      li.footer__menu2__item
        a.footer__menu2__link(href="/") Changelog
      li.footer__menu2__item
        a.footer__menu2__link(href="./") Credit
      li.footer__menu2__item
        a.footer__menu2__link(href="/") Powered by Webflow
      li.footer__menu2__item
        a.footer__menu2__link(href="/") Licenses

  .footer__icon__menu
    ul.footer__icon__menu__list
      li.footer__icon__menu__item
        a.footer__icon__menu__item__link(href='//spotify.com')
          img.footer__icon__menu__img(src='/public/images/spotify.png' alt='spotify')
      li.footer__icon__menu__item
        a.footer__icon__menu__item__link(href='//deezer.com')
          img.footer__icon__menu__img(src='/public/images/deezer.png' alt='deezer')
      li.footer__icon__menu__item
        a.footer__icon__menu__item__link(href='//soundcloud.com')
          img.footericon____menu__img(src='/public/images/soundcloud.png' alt='soundcloud')
      li.footer__icon__menu__item
        a.footer__icon__menu__item__link(href='//genius.com')
          img.footericon____menu__img(src='/public/images/genius.png' alt='genius')
      li.footer__icon__menu__item
        a.footer__icon__menu__item__link(href='//apple.com')
          img.footer__icon__menu__img(src='/public/images/hz.png' alt='hz')