.header
  .header__logo
    a.header__logo__link(href='/')
      img.header__logo__img(src='/public/images/header_logo.svg' alt='header_logo')

  .header__menu
    ul.header__menu__list
      li.header__menu__item 
        a.header__menu__item__link(href='#') Home
      li.header__menu__item
       a.header__menu__item__link(href='#') Episodes
      li.header__menu__item 
       a.header__menu__item__link(href='#') About
      li.header__menu__item 
       a.header__menu__item__link(href='#') Contacts